/* Variables */
:root {
  /* Spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;

  /* Font */
  --font-family: "Open Sans", sans-serif;
  --font-size-base: 16px;
  --font-size-headline-1: 3rem;
  --font-size-headline-2: 1.3rem;
  --font-weight-headline-1: 600;
  --font-weight-headline-2: 300;

  /* Color */
  --color-text: #121212;
  --color-link: #0052be;

  /* Others */
  --body-background-color: #fff;
  --easter-egg-line-background-color: #121212;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Color */
    --color-text: #fff;
    --color-link: #6aa2ea;

    /* Others */
    --body-background-color: #121212;
    --easter-egg-line-background-color: #fff;
  }
}

/* Structure style */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: var(--body-background-color);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--color-text);
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: var(--spacing-2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: var(--spacing-1);
}

.footer {
  display: flex;
  gap: var(--spacing-3);
  padding: var(--spacing-2) 0;
}

/* Elements style */
.avatar {
  border-radius: 100%;
}

.headline-1 {
  margin: 0;
  font-size: var(--font-size-headline-1);
  font-weight: var(--font-weight-headline-1);
}

.headline-2 {
  margin: 0;
  font-size: var(--font-size-headline-2);
  font-weight: var(--font-weight-headline-2);
}

.link {
  color: var(--color-link);
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link:focus-visible {
  outline: 2px solid var(--color-link);
  outline-offset: 4px;
}

/* Easter Egg style */
@keyframes drop {
  0% {
    top: -30%;
  }

  100% {
    top: 110%;
  }
}

.easter-egg-lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}

.easter-egg-line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  z-index: -1;
}

.easter-egg-line::after {
  content: "";
  position: absolute;
  top: -30%;
  left: 0;
  width: 100%;
  height: 15vh;
  opacity: 0.3;
  background: linear-gradient(to bottom,
      transparent 0%,
      var(--easter-egg-line-background-color) 75%,
      var(--easter-egg-line-background-color) 100%);
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.5, 0.25, 0, 0.95);
}